registry=https://pkgs.dev.azure.com/agriculturegovau/ECM/_packaging/ECM-UI-Feed/npm/registry/
@ag:registry=https://pkgs.dev.azure.com/agriculturegovau/ECM/_packaging/ECM-UI-Feed/npm/registry/
@react-ag-components:registry=https://pkgs.dev.azure.com/agriculturegovau/ECM/_packaging/ECM-UI-Feed/npm/registry/
always-auth=true
strict-ssl=false
