registry=https://pkgs.dev.azure.com/agriculturegovau/_packaging/ECM/npm/registry/
@ag:registry=https://pkgs.dev.azure.com/agriculturegovau/_packaging/ECM/npm/registry/
@react-ag-components:registry=https://pkgs.dev.azure.com/agriculturegovau/_packaging/ECM/npm/registry/
always-auth=true
strict-ssl=false
